header{
    height: 100px;
    text-align: center;
    background-color: aliceblue;
}

.logo{
    height: 100px;
}

body{
    background-color: aliceblue;
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 300;
    font-style: normal;        
}

h2{
    font-size: 16px;
    width: 10em;
    margin: 0 auto;
    padding: 5px;
    border: solid 1px #000;
    text-align: center;
    border-radius: 40px;
    background-color:  rgb(212, 248, 212);
}

#messageList{  
    color:blueviolet;
}

form{
    padding: 10%;
    text-align: center;
}

#myForm{
    color: rgb(75, 127, 240);
}

#send{
    font-family: "IBM Plex Sans JP", sans-serif;
    background-color: rgb(212, 248, 212);
    border-radius: 10px;
    border: solid 2px #000;

}
#send:hover{
    background-color: rgb(228, 255, 169);
    cursor: pointer;
}

ul{
    list-style: none;
}