header{
    height: 100px;
    text-align: center;
    background-color: aliceblue;
}

.logo{
    height: 100px;
}



body{
    background-color: aliceblue;
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 300;
    font-style: normal;        
}

#messageList{
    
    color:blueviolet;
}
h2{
    width: 10em;
    margin: 0 auto;
    font-family: "IBM Plex Sans JP", sans-serif;
    background-color:  rgb(212, 248, 212);
    border-radius: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: solid 1px #000;
}


#myForm{
    color: rgb(75, 127, 240);
}

#send{
    font-family: "IBM Plex Sans JP", sans-serif;
    background-color: rgb(212, 248, 212);
    border-radius: 10px;
    border: solid 2px #000;

}
#send:hover{
    background-color: rgb(228, 255, 169);
    cursor: pointer;
}
