header{
    height: 100px;
    text-align: center;
    background-color: aliceblue;
}

.logo{
    height: 100px;
}

body{
    background-color: aliceblue;
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2{ 
    font-size: 16px;
    width: 10em;
    margin: 0 auto;
    padding: 5px;
    border: solid 1px;
    text-align: center;
    border-radius: 40px;
    background-color: rgb(197, 247, 253);
}

.messageList {
    padding: 20px;      /* 余白指定 */
}

#messageList{
    width: 800px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    color: rgb(19, 17, 18);
    background-color: gainsboro;
    overflow-y: scroll;
}

a{
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#send {
    display: inline-block;
    width: 50px;
    height: 2em;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgb(197, 247, 253);
    font-family: "IBM Plex Sans JP", sans-serif;
    margin-left: 20px;
}

#BackButton {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: 5em;
    height: 2em;
    border: solid 1px;
    border-radius: 5px;
    background-color: pink;
    font-family: "IBM Plex Sans JP", sans-serif;
}

button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

ul {
    list-style: none;
  }

label {
    padding: 10px;
}

/* ラジオボタンの○を消す */
input[type="radio"] {
    display: none;
}

/* 未選択の場合、色を薄くする */
input[type="radio"] + label img {
    opacity:0.5;
}

/* 選択済みの場合、色を濃くする */
input[type="radio"]:checked + label img {
    opacity:1;
}

/* ラジオボタンホバー時マウスをポインターにする */
label:hover {
    cursor: pointer;
}

input[type="text"]{
    width: 10em;
    display: inline-block;
    font-family: "IBM Plex Sans JP", sans-serif;
}

textarea {
    width: 15em;
    display: inline-block;
    font-family: "IBM Plex Sans JP", sans-serif;
}

#message, #name {
    display: inline-block;
    height: 1.5em;
}