header{
    height: 70px;
    text-align: center;
    background-color: white;
}

.logo{
    height: 70px;
}

body{
    background-color: aliceblue;
}

.Room{
    padding-top: 80px;
    width: 1000px;
    text-align: center;
}

.Room1, .Room2, .Room3, .Room4 {
    font-size: 18px;
    width: 100px;
    height: 40px;
    margin: 5px;
    border: 1px;
    background-color: rgb(248, 238, 153);
    border-radius: 5px;
}